{% extends "base.html" %}

{% block title %}Indice de API AIS{% endblock %}

{% block page_content %}
<div class="page-header">

<img src="{{ url_for('static', filename='911.jpg') }}" style="margin:auto; width:600px; height:160px; display:block" alt="911"/>
 <h1 style="text-align:center">API AIS: Aplication Program Interface for Artificial Inteligences Services</h1>
  
  
</div>
<h1>Este servidor es un demo desarollado por el equipo de desarrollo en Enerv irapuato Gto.</h1>
<h2>Indice:</h2>
<li><h3>API FAVE: Sistema de captura de identidad para el servicio de Reconocimiento Facial <h3></li>
<li><h3>API RANPV: sistema de Reconocimiento Automatico de Numero de Placas Vehiculares<h3></li>

{% endblock %}
